{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    <script src="{% static 'react/react.min.js' %}"></script>
    <script src="{% static 'react/react-dom.min.js' %}"></script>
    <script src="{% static 'underscore/underscore-min.js' %}"></script>
</head>
<body>
  <div class="ui grid">
    <div id='nav-bar'></div>
    <div class="page-part">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <script src="{% static 'compiled-js/nav-bar.js' %}"></script>
</body>